<h1>Sumar numeros POST</h1>
<form method="post">
    <label>Numero 1</label><br />
    <input type="text" name="num1" value="" /><br />
    <label>Numero 2</label><br />
    <input type="text" name="num2"/><br />
    <button>Sumar numeros</button>
</form>


<h2>@ViewData["Resultado"]</h2>